.listItemImageWrapper {
  position: relative;
  padding-bottom: 5rem;
}

.listItemImageWrapper img {
  background-size: cover;
  width: 70%;
  height: 70%;
}

.rightHalf {
  text-align: left;
}

.companyName {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.jobTitle {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.fromTo {
  float: right;
  font-size: 1rem;
  font-weight: 400;
}

.descriptions {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .listItemImageWrapper {
    position: relative;
    padding-bottom: 2rem;
  }

  .fromTo {
    float: left;
    display: block;
  }

  .jobTitle {
    display: block;
  }

  .descriptions {
    margin-top: 1rem;
  }
}
