.flex {
  display: flex;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}

.flexFill {
  flex: 1 1 0%;
  max-width: 100%;
  min-width: 0;
}

.flexHalfLeft {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 0.75rem;
  width: 40%;
}

.flexHalfRight {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 0.75rem;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .flexHalfLeft {
    width: 80%;
  }

  .flexHalfRight {
    width: 80%;
    padding: 0 4rem;
  }

  .icon {
    padding: 0.2rem 0.4rem;
    font-size: 0.5rem;
  }
}
